<launch>

  <arg name="robot" default="agv2"/>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find compal_gazebo)/worlds/compal.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <include file="$(find compal_gazebo)/launch/include/$(arg robot).launch.xml"/>
  <!-- ros_control htcbot launch file -->
  <remap to="$(arg robot)/cmd_vel" from="cmd_vel" />
  <node pkg="tf" type="static_transform_publisher" name="tf_map_broadcaster" args="0 0 0 0 0 0 map /agv2/odom 50"/>
<!--
    may not be the reall pose, it is just an estimation
-->
  <node pkg="tf" type="static_transform_publisher" name="tf_laser_broadcaster" args="0 -0.50 0.135 -1.57 0 0 /agv2/base_link laser_link 50"/>
    <!-- RVIZ -->
  <node pkg="rviz" type="rviz" name="rviz" output="screen" args="-d $(find compal_gazebo)/launch/laser_show.rviz"/>
<!--
  <include file="$(find agv2_control)/launch/$(arg robot)/$(arg robot)_control_sim.launch" />
-->
<!--
  <include file="$(find htcbot_gazebo)/launch/include/data_record.xml"/>
-->
</launch>
